.f16 .flag{display:inline-block;height:16px;width:16px;vertical-align:text-top;line-height:16px;background:url(flags16.png) no-repeat;}
.f16 ._African_Union(OAS){background-position:0 -16px;}
.f16 ._Arab_League{background-position:0 -32px;}
.f16 ._ASEAN{background-position:0 -48px;}
.f16 ._CARICOM{background-position:0 -64px;}
.f16 ._CIS{background-position:0 -80px;}
.f16 ._Commonwealth{background-position:0 -96px;}
.f16 ._England{background-position:0 -112px;}
.f16 ._European_Union{background-position:0 -128px;}
.f16 ._Islamic_Conference{background-position:0 -144px;}
.f16 ._Kosovo{background-position:0 -160px;}
.f16 ._NATO{background-position:0 -176px;}
.f16 ._Northern_Cyprus{background-position:0 -192px;}
.f16 ._Northern_Ireland{background-position:0 -208px;}
.f16 ._Olimpic_Movement{background-position:0 -224px;}
.f16 ._OPEC{background-position:0 -240px;}
.f16 ._Red_Cross{background-position:0 -256px;}
.f16 ._Scotland{background-position:0 -272px;}
.f16 ._Somaliland{background-position:0 -288px;}
.f16 ._Tibet{background-position:0 -304px;}
.f16 ._United_Nations{background-position:0 -320px;}
.f16 ._Wales{background-position:0 -336px;}
.f16 .ad, .f16 .AD{background-position:0 -352px;}
.f16 .ae, .f16 .AE{background-position:0 -368px;}
.f16 .af, .f16 .AF{background-position:0 -384px;}
.f16 .ag, .f16 .AG{background-position:0 -400px;}
.f16 .ai, .f16 .AI{background-position:0 -416px;}
.f16 .al, .f16 .AL{background-position:0 -432px;}
.f16 .am, .f16 .AM{background-position:0 -448px;}
.f16 .an, .f16 .AN{background-position:0 -464px;}
.f16 .ao, .f16 .AO{background-position:0 -480px;}
.f16 .aq, .f16 .AQ{background-position:0 -496px;}
.f16 .ar, .f16 .AR{background-position:0 -512px;}
.f16 .as, .f16 .AS{background-position:0 -528px;}
.f16 .at, .f16 .AT{background-position:0 -544px;}
.f16 .au, .f16 .AU{background-position:0 -560px;}
.f16 .aw, .f16 .AW{background-position:0 -576px;}
.f16 .az, .f16 .AZ{background-position:0 -592px;}
.f16 .ba, .f16 .BA{background-position:0 -608px;}
.f16 .bb, .f16 .BB{background-position:0 -624px;}
.f16 .bd, .f16 .BD{background-position:0 -640px;}
.f16 .be, .f16 .BE{background-position:0 -656px;}
.f16 .bf, .f16 .BF{background-position:0 -672px;}
.f16 .bg, .f16 .BG{background-position:0 -688px;}
.f16 .bh, .f16 .BH{background-position:0 -704px;}
.f16 .bi, .f16 .BI{background-position:0 -720px;}
.f16 .bj, .f16 .BJ{background-position:0 -736px;}
.f16 .bm, .f16 .BM{background-position:0 -752px;}
.f16 .bn, .f16 .BN{background-position:0 -768px;}
.f16 .bo, .f16 .BO{background-position:0 -784px;}
.f16 .br, .f16 .BR{background-position:0 -800px;}
.f16 .bs, .f16 .BS{background-position:0 -816px;}
.f16 .bt, .f16 .BT{background-position:0 -832px;}
.f16 .bw, .f16 .BW{background-position:0 -848px;}
.f16 .by, .f16 .BY{background-position:0 -864px;}
.f16 .bz, .f16 .BZ{background-position:0 -880px;}
.f16 .ca, .f16 .CA{background-position:0 -896px;}
.f16 .cg, .f16 .CG{background-position:0 -912px;}
.f16 .cf, .f16 .CF{background-position:0 -928px;}
.f16 .cd, .f16 .CD{background-position:0 -944px;}
.f16 .ch, .f16 .CH{background-position:0 -960px;}
.f16 .ci, .f16 .CI{background-position:0 -976px;}
.f16 .ck, .f16 .CK{background-position:0 -992px;}
.f16 .cl, .f16 .CL{background-position:0 -1008px;}
.f16 .cm, .f16 .CM{background-position:0 -1024px;}
.f16 .cn, .f16 .CN{background-position:0 -1040px;}
.f16 .co, .f16 .CO{background-position:0 -1056px;}
.f16 .cr, .f16 .CR{background-position:0 -1072px;}
.f16 .cu, .f16 .CU{background-position:0 -1088px;}
.f16 .cv, .f16 .CV{background-position:0 -1104px;}
.f16 .cy, .f16 .CY{background-position:0 -1120px;}
.f16 .cz, .f16 .CZ{background-position:0 -1136px;}
.f16 .de, .f16 .DE{background-position:0 -1152px;}
.f16 .dj, .f16 .DJ{background-position:0 -1168px;}
.f16 .dk, .f16 .DK{background-position:0 -1184px;}
.f16 .dm, .f16 .DM{background-position:0 -1200px;}
.f16 .do, .f16 .DO{background-position:0 -1216px;}
.f16 .dz, .f16 .DZ{background-position:0 -1232px;}
.f16 .ec, .f16 .EC{background-position:0 -1248px;}
.f16 .ee, .f16 .EE{background-position:0 -1264px;}
.f16 .eg, .f16 .EG{background-position:0 -1280px;}
.f16 .eh, .f16 .EH{background-position:0 -1296px;}
.f16 .er, .f16 .ER{background-position:0 -1312px;}
.f16 .es, .f16 .ES{background-position:0 -1328px;}
.f16 .et, .f16 .ET{background-position:0 -1344px;}
.f16 .fi, .f16 .FI{background-position:0 -1360px;}
.f16 .fj, .f16 .FJ{background-position:0 -1376px;}
.f16 .fm, .f16 .FM{background-position:0 -1392px;}
.f16 .fo, .f16 .FO{background-position:0 -1408px;}
.f16 .fr, .f16 .FR{background-position:0 -1424px;}
.f16 .ga, .f16 .GA{background-position:0 -1440px;}
.f16 .gb, .f16 .GB{background-position:0 -1456px;}
.f16 .gd, .f16 .GD{background-position:0 -1472px;}
.f16 .ge, .f16 .GE{background-position:0 -1488px;}
.f16 .gg, .f16 .GG{background-position:0 -1504px;}
.f16 .gh, .f16 .GH{background-position:0 -1520px;}
.f16 .gi, .f16 .GI{background-position:0 -1536px;}
.f16 .gl, .f16 .GL{background-position:0 -1552px;}
.f16 .gm, .f16 .GM{background-position:0 -1568px;}
.f16 .gn, .f16 .GN{background-position:0 -1584px;}
.f16 .gp, .f16 .GP{background-position:0 -1600px;}
.f16 .gq, .f16 .GQ{background-position:0 -1616px;}
.f16 .gr, .f16 .GR{background-position:0 -1632px;}
.f16 .gt, .f16 .GT{background-position:0 -1648px;}
.f16 .gu, .f16 .GU{background-position:0 -1664px;}
.f16 .gw, .f16 .GW{background-position:0 -1680px;}
.f16 .gy, .f16 .GY{background-position:0 -1696px;}
.f16 .hk, .f16 .HK{background-position:0 -1712px;}
.f16 .hn, .f16 .HN{background-position:0 -1728px;}
.f16 .hr, .f16 .HR{background-position:0 -1744px;}
.f16 .ht, .f16 .HT{background-position:0 -1760px;}
.f16 .hu, .f16 .HU{background-position:0 -1776px;}
.f16 .id, .f16 .ID{background-position:0 -1792px;}
.f16 .mc, .f16 .MC{background-position:0 -1792px;}
.f16 .ie, .f16 .IE{background-position:0 -1808px;}
.f16 .il, .f16 .IL{background-position:0 -1824px;}
.f16 .im, .f16 .IM{background-position:0 -1840px;}
.f16 .in, .f16 .IN{background-position:0 -1856px;}
.f16 .iq, .f16 .IQ{background-position:0 -1872px;}
.f16 .ir, .f16 .IR{background-position:0 -1888px;}
.f16 .is, .f16 .IS{background-position:0 -1904px;}
.f16 .it, .f16 .IT{background-position:0 -1920px;}
.f16 .je, .f16 .JE{background-position:0 -1936px;}
.f16 .jm, .f16 .JM{background-position:0 -1952px;}
.f16 .jo, .f16 .JO{background-position:0 -1968px;}
.f16 .jp, .f16 .JP{background-position:0 -1984px;}
.f16 .ke, .f16 .KE{background-position:0 -2000px;}
.f16 .kg, .f16 .KG{background-position:0 -2016px;}
.f16 .kh, .f16 .KH{background-position:0 -2032px;}
.f16 .ki, .f16 .KI{background-position:0 -2048px;}
.f16 .km, .f16 .KM{background-position:0 -2064px;}
.f16 .kn, .f16 .KN{background-position:0 -2080px;}
.f16 .kp, .f16 .KP{background-position:0 -2096px;}
.f16 .kr, .f16 .KR{background-position:0 -2112px;}
.f16 .kw, .f16 .KW{background-position:0 -2128px;}
.f16 .ky, .f16 .KY{background-position:0 -2144px;}
.f16 .kz, .f16 .KZ{background-position:0 -2160px;}
.f16 .la, .f16 .LA{background-position:0 -2176px;}
.f16 .lb, .f16 .LB{background-position:0 -2192px;}
.f16 .lc, .f16 .LC{background-position:0 -2208px;}
.f16 .li, .f16 .LI{background-position:0 -2224px;}
.f16 .lk, .f16 .LK{background-position:0 -2240px;}
.f16 .lr, .f16 .LR{background-position:0 -2256px;}
.f16 .ls, .f16 .LS{background-position:0 -2272px;}
.f16 .lt, .f16 .LT{background-position:0 -2288px;}
.f16 .lu, .f16 .LU{background-position:0 -2304px;}
.f16 .lv, .f16 .LV{background-position:0 -2320px;}
.f16 .ly, .f16 .LY{background-position:0 -2336px;}
.f16 .ma, .f16 .MA{background-position:0 -2352px;}
.f16 .md, .f16 .MD{background-position:0 -2368px;}
.f16 .me, .f16 .ME{background-position:0 -2384px;}
.f16 .mg, .f16 .MG{background-position:0 -2400px;}
.f16 .mh, .f16 .MH{background-position:0 -2416px;}
.f16 .mk, .f16 .MK{background-position:0 -2432px;}
.f16 .ml, .f16 .ML{background-position:0 -2448px;}
.f16 .mm, .f16 .MM{background-position:0 -2464px;}
.f16 .mn, .f16 .MN{background-position:0 -2480px;}
.f16 .mo, .f16 .MO{background-position:0 -2496px;}
.f16 .mq, .f16 .MQ{background-position:0 -2512px;}
.f16 .mr, .f16 .MR{background-position:0 -2528px;}
.f16 .ms, .f16 .MS{background-position:0 -2544px;}
.f16 .mt, .f16 .MT{background-position:0 -2560px;}
.f16 .mu, .f16 .MU{background-position:0 -2576px;}
.f16 .mv, .f16 .MV{background-position:0 -2592px;}
.f16 .mw, .f16 .MW{background-position:0 -2608px;}
.f16 .mx, .f16 .MX{background-position:0 -2624px;}
.f16 .my, .f16 .MY{background-position:0 -2640px;}
.f16 .mz, .f16 .MZ{background-position:0 -2656px;}
.f16 .na, .f16 .NA{background-position:0 -2672px;}
.f16 .nc, .f16 .NC{background-position:0 -2688px;}
.f16 .ne, .f16 .NE{background-position:0 -2704px;}
.f16 .ng, .f16 .NG{background-position:0 -2720px;}
.f16 .ni, .f16 .NI{background-position:0 -2736px;}
.f16 .nl, .f16 .NL{background-position:0 -2752px;}
.f16 .no, .f16 .NO{background-position:0 -2768px;}
.f16 .np, .f16 .NP{background-position:0 -2784px;}
.f16 .nr, .f16 .NR{background-position:0 -2800px;}
.f16 .nz, .f16 .NZ{background-position:0 -2816px;}
.f16 .om, .f16 .OM{background-position:0 -2832px;}
.f16 .pa, .f16 .PA{background-position:0 -2848px;}
.f16 .pe, .f16 .PE{background-position:0 -2864px;}
.f16 .pf, .f16 .PF{background-position:0 -2880px;}
.f16 .pg, .f16 .PG{background-position:0 -2896px;}
.f16 .ph, .f16 .PH{background-position:0 -2912px;}
.f16 .pk, .f16 .PK{background-position:0 -2928px;}
.f16 .pl, .f16 .PL{background-position:0 -2944px;}
.f16 .pr, .f16 .PR{background-position:0 -2960px;}
.f16 .ps, .f16 .PS{background-position:0 -2976px;}
.f16 .pt, .f16 .PT{background-position:0 -2992px;}
.f16 .pw, .f16 .PW{background-position:0 -3008px;}
.f16 .py, .f16 .PY{background-position:0 -3024px;}
.f16 .qa, .f16 .QA{background-position:0 -3040px;}
.f16 .re, .f16 .RE{background-position:0 -3056px;}
.f16 .ro, .f16 .RO{background-position:0 -3072px;}
.f16 .rs, .f16 .RS{background-position:0 -3088px;}
.f16 .ru, .f16 .RU{background-position:0 -3104px;}
.f16 .rw, .f16 .RW{background-position:0 -3120px;}
.f16 .sa, .f16 .SA{background-position:0 -3136px;}
.f16 .sb, .f16 .SB{background-position:0 -3152px;}
.f16 .sc, .f16 .SC{background-position:0 -3168px;}
.f16 .sd, .f16 .SD{background-position:0 -3184px;}
.f16 .se, .f16 .SE{background-position:0 -3200px;}
.f16 .sg, .f16 .SG{background-position:0 -3216px;}
.f16 .si, .f16 .SI{background-position:0 -3232px;}
.f16 .sk, .f16 .SK{background-position:0 -3248px;}
.f16 .sl, .f16 .SL{background-position:0 -3264px;}
.f16 .sm, .f16 .SM{background-position:0 -3280px;}
.f16 .sn, .f16 .SN{background-position:0 -3296px;}
.f16 .so, .f16 .SO{background-position:0 -3312px;}
.f16 .sr, .f16 .SR{background-position:0 -3328px;}
.f16 .st, .f16 .ST{background-position:0 -3344px;}
.f16 .sv, .f16 .SV{background-position:0 -3360px;}
.f16 .sy, .f16 .SY{background-position:0 -3376px;}
.f16 .sz, .f16 .SZ{background-position:0 -3392px;}
.f16 .tc, .f16 .TC{background-position:0 -3408px;}
.f16 .td, .f16 .TD{background-position:0 -3424px;}
.f16 .tg, .f16 .TG{background-position:0 -3440px;}
.f16 .th, .f16 .TH{background-position:0 -3456px;}
.f16 .tj, .f16 .TJ{background-position:0 -3472px;}
.f16 .tl, .f16 .TL{background-position:0 -3488px;}
.f16 .tm, .f16 .TM{background-position:0 -3504px;}
.f16 .tn, .f16 .TN{background-position:0 -3520px;}
.f16 .to, .f16 .TO{background-position:0 -3536px;}
.f16 .tr, .f16 .TR{background-position:0 -3552px;}
.f16 .tt, .f16 .TT{background-position:0 -3568px;}
.f16 .tv, .f16 .TV{background-position:0 -3584px;}
.f16 .tw, .f16 .TW{background-position:0 -3600px;}
.f16 .tz, .f16 .TZ{background-position:0 -3616px;}
.f16 .ua, .f16 .UA{background-position:0 -3632px;}
.f16 .ug, .f16 .UG{background-position:0 -3648px;}
.f16 .us, .f16 .US{background-position:0 -3664px;}
.f16 .uy, .f16 .UY{background-position:0 -3680px;}
.f16 .uz, .f16 .UZ{background-position:0 -3696px;}
.f16 .va, .f16 .VA{background-position:0 -3712px;}
.f16 .vc, .f16 .VC{background-position:0 -3728px;}
.f16 .ve, .f16 .VE{background-position:0 -3744px;}
.f16 .vg, .f16 .VG{background-position:0 -3760px;}
.f16 .vi, .f16 .VI{background-position:0 -3776px;}
.f16 .vn, .f16 .VN{background-position:0 -3792px;}
.f16 .vu, .f16 .VU{background-position:0 -3808px;}
.f16 .ws, .f16 .WS{background-position:0 -3824px;}
.f16 .ye, .f16 .YE{background-position:0 -3840px;}
.f16 .za, .f16 .ZA{background-position:0 -3856px;}
.f16 .zm, .f16 .ZM{background-position:0 -3872px;}
.f16 .zw, .f16 .ZW{background-position:0 -3872px;}