.icon-bg .octicon {
  font-size: 90px;
  padding-right: 10px;
}

.panel-title {
  display: inline;
}

.bg-info {
  background-color: #55badf!important;
  color: #fff;
}

.bg-alert {
  background-color: #a992e2!important;
  color: #fff;
}

.bg-danger {
  background-color: #ec6f5a!important;
  color: #fff;
}

.bg-warning {
  background-color: #f7c65f!important;
  color: #fff;
}

.note-editor {
  border: 1px solid #ccc !important;
}

.note-editor .note-toolbar {
  border-bottom: 1px solid #ccc !important;
}

.summernote {
  min-height: 300px;
}

.icon-bg {
  position: absolute;
  opacity: 0.75;
  right: 0;
  top: 0;
  line-height: 100px;
  font-size: 100px;
}

.sidebar-menu>li>ul>li.sa:focus>a:after, .sidebar-menu>li>ul>li.sa:hover>a:after {
  background: #e63f24;
}

.bg-alert .text-muted {
  color: #f5f2fd;
}

.bg-info .text-muted {
  color: #f5f2fd;
}

.bg-danger .text-muted {
  color: #f5f2fd;
}

.bg-warning .text-muted {
  color: #f5f2fd;
}

a,a:visited,a:hover,a:focus {
	text-decoration:none !important;
}

.chat .panel-tabs { 
	position:relative;
}

.chat .panel-controls {
  position: relative;
  z-index: 9999;
}

.breadcrumb .octicon {
  color: #777;
  font-size: 11px;
  margin-left: 1px;
  vertical-align: text-top;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #000;
}

#topbar {
  max-height: 51px;
}

.topbar-right {
  margin-top: -8px;
}

.panel-tabs > li.active > a, .panel-tabs > li.active > a:hover, .panel-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background: #70ca63 !important;
}

.msg-list .system {
  color:#FFA500;
}

.msg-list .admin {
  color:#FF4500;
}

.users .me {
  border-left: 3px solid #70ca63;
}

.users .admin {
  color: #FF4500 !important;
}
.smileys .emoticonimg {
    cursor: pointer;
}

.dropzone {
  background: #fafafa !important;
  border: 2px dashed #0087F7 !important;
  border-width: 5px;
  min-height: 300px !important;
}

.checkbox-custom input[type=checkbox]:checked+label:after, .checkbox-custom input[type=radio]:checked+label:after {
  font-family: "octicons";
  content: '\f03a';
  font-size: 15px;
}

.green-top {
  border-top: 3px solid #70ca63 !important;
}

::-webkit-input-placeholder {
   color: #bbb !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bbb !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bbb !important;  
}

:-ms-input-placeholder {  
   color: #bbb !important;  
}

.admin-form .section-divider span {
  top: -10px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.checkbox-custom.fill input[type=checkbox]:checked+label:after, .checkbox-custom.fill input[type=radio]:checked+label:after {
  font-family: 'octicons';
  content: '\f03a';
  font-size: 14px;
  left: 4px;
}

.section label.select {
  width: 100%;
}

.center {
  margin: 0px auto;
}

/*===============================================
  G. External Pages - login, register,
  screenlock, coming-soon, forgotpw
================================================= */
body.external-page {
  min-height: 0;
  overflow: auto;
}
body.external-page #main {
  overflow: hidden;
  background: url("../../../img/patterns/backgrounds/1.jpg") no-repeat top center #2d494d;
}
body.external-page #main:before {
  display: none;
}
body.external-page #canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
body.external-page #content .admin-form {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 4%;
}
body.external-page #content .panel {
  box-shadow: 0 1px 40px 0 rgba(0, 0, 0, 0.3);
}
body.external-page #content .panel-heading {
  padding: 32px 10px 15px;
}
body.external-page .login-links {
  font-size: 15px;
  color: #DDD;
}
body.external-page .login-links a {
  color: #DDD;
  font-weight: 300;
}
body.external-page .login-links a.active {
  color: #FFF;
  font-weight: 600;
}
body.external-page .login-links a:hover,
body.external-page .login-links a:focus {
  color: #FFF;
  text-decoration: none;
}

.bg-danger.dark {
  background-color: #e63f24!important;
}

.navbar.bg-danger{background-color:#e9573f!important;color:#fef7f6;}.navbar.bg-danger.navbar .nav>li.open>a,.navbar.bg-danger.navbar .nav>li:hover>a,.navbar.bg-danger.navbar .nav>li:focus>a,.navbar.bg-danger.navbar .nav>li.active>a,.navbar.bg-danger.navbar .nav>li>a:hover,.navbar.bg-danger.navbar .nav>li>a:focus{color:#FFF;background-color:#e63f24;}.navbar.bg-danger.navbar .nav>li.dropdown.open .dropdown-menu{border-top-color:#e9573f;}.navbar.bg-danger.navbar .nav>li.dropdown.open .dropdown-menu:after{border-bottom-color:#e9573f;}.navbar.bg-danger.navbar .nav>li.dropdown.open .dropdown-menu:after{border-bottom-color:#e9573f;}

ul.dropdown-menu {
  left: inherit !important;
  right: 0 !important;
}

ul.dropdown-menu li:hover {
  cursor:pointer;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}

.modal-panel {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 800px;
  margin: 40px auto;
}

.mfp-preloader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.mfp-preloader,
.mfp-preloader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.panel-icon .octicon {
  font-size: 13px !important;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -5em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/* Magnific Popup CSS */

.spinner {
  margin: 270px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #70ca63;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}